<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScriptIndexerCore</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" %}"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/scripts/jquery-ui-1.12.1/jquery-ui.css">
    <script src="~/scripts/jquery-ui-1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="~/scripts/dataTables.min.css">
    <script src="~/scripts/dataTables.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ScriptIndexerCore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="SiteSettings">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - ScriptIndexerCore</p>
        </footer>
    </div>
    <span id="spanWaiting" style="position:absolute;top:50%;left:45%;z-index: 99 !important;"><img style="width:100px;" src="/images/spinner.gif"></span>
    <script>
        $(function () {
            $("#spanWaiting").hide();
        });
    </script>
    @RenderSection("Scripts", required: false)
    
</body>
</html>
