@model HomeModel
@{
    ViewData["Title"] = "Search/Results List";
}

<div>
    <h2>Search</h2>
    <div>
        <div>
            <h4>Search Text:</h4>
            <input type="text" id="txtSearchText" class="form-control" style="width:400px;" />
        </div>
        <div style="padding-top:10px;">
            <h4>Search Type:</h4>
            <label class="radio-inline"><input type="radio" name="grpSearchType" id="rdoTypeAny" value="Any" checked>Any Word</label>
            <label class="radio-inline"><input type="radio" name="grpSearchType" id="rdoTypeAll" value="All">All Words</label>
            <label class="radio-inline"><input type="radio" name="grpSearchType" id="rdoTypeExact" value="Exact">Exact Match</label>
        </div>
        <div style="padding-top:10px;">
            <h4>Search Categories:</h4>
            <label class="checkbox-inline"><input type="checkbox" id="chkCatMovie" value="" checked>Movies</label>
            <label class="checkbox-inline"><input type="checkbox" id="chkCatTV" value="">TV Shows</label>
            <label class="checkbox-inline"><input type="checkbox" id="chkCatOther" value="">Other</label>
        </div>
        <div style="padding-top:30px;">
            <input type="button" class="btn btn-primary btn-sm" value="Search" onclick="runSearch();" />
        </div>
    </div>
    <div style="margin-top:30px;border-top:1px solid black;padding-top:5px;">
        <table id="tblResults" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th style="width:120px;">Category</th>
                </tr>
            </thead>
            <tbody id="tblResultsBody">
            </tbody>
        </table>
    </div>
</div>
<div id="dialogDetails" title="Title Here" style="border-radius:3px;padding:10px;border:1px solid lightgrey;">
    <div>
        <textarea id="txtDetailContents" style="width:100%;"></textarea>
    </div>
</div>

<script>
   $(function () {
        var wHeight = $(window).height();
        var dHeight = wHeight * 0.8;
        $("#dialogDetails").dialog({
            autoOpen: false,
            height: dHeight,
            width: 'auto',
            overlay: { opacity: 0.5, background: "black" },
            modal: true
        })
        $('#tblResults').dataTable();
        $('#txtSearchText').on("keypress", function (e) {
            if (e.keyCode == 13) {
                runSearch();
                return false; // prevent the button click from happening
            }
        });
    });
    function runSearch() {
        $("#spanWaiting").show();
        var myTable = $('#tblResults').DataTable();
        myTable.clear();
        $.ajax({
            url: '/Home/Search/',
            type: 'GET',
            data: {
                searchText: $("#txtSearchText").val(),
                searchMovies: $('#chkCatMovie').is(":checked"),
                searchShows: $('#chkCatTV').is(":checked"),
                searchMisc: $('#chkCatOther').is(":checked"),
                searchType: $('input[name=grpSearchType]:checked').val()
            },
            success: function (data) {
                $("#spanWaiting").hide();
                for (i = 0; i <= data.length - 1; i++) {
                    myTable.row.add(["<em onclick='showDetails(\"" + data[i].id + "\", \"" + data[i].category + "\");'>" + data[i].fileName + "</em>", data[i].category]);
                }
                myTable.draw();
            },
            fail: function (xhr, textStatus, errorThrown) {
                $("#spanWaiting").hide();
                alert('request failed');
            }
        });
    };
    function showDetails(id,cat) {
        $("#spanWaiting").show();

        $.ajax({
            url: '/Home/GetDetails/',
            type: 'GET',
            data: {
                id: id,
                collectionName: cat
            },
            success: function (data) {
                $("#spanWaiting").hide();
                $("#txtDetailContents").val(data.contents);
                $("#dialogDetails").dialog({ title: data.fileName });
                $("#dialogDetails").dialog('open');
                $("#txtDetailContents").height($("#dialogDetails").height() * .95);
                $("#txtDetailContents").scrollTop(0);
            },
            fail: function (xhr, textStatus, errorThrown) {
                $("#spanWaiting").hide();
                alert('request failed');
            }
        });
    }
</script>