@model IEnumerable<ScriptIndexerCore.Models.Movie>

@{
    ViewData["Title"] = "Movie List";
}
<h2>Index</h2>


<p>
    <a asp-action="Create">Create New Movie Entry</a>
</p>
<table class="table table-bordered" style="width:600px">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filename)
            </th>
           <th>@*Actions*@</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdStripped)
                </td>
                <td>
                    @{string fName = item.filename;}
                    @Html.ActionLink(fName, "Details", new {id= item.Id})
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@ 
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@ 
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
        </tbody>
    </table>
