@model IEnumerable<ScriptIndexerCore.Models.Movie>
@{
    ViewData["Title"] = "Movie List";
}
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New Movie Entry</a>
</p>
<table class="table table-bordered" style="width:600px">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filename)
            </th>
           <th>@*Actions*@</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdStripped)
                </td>
                <td>
                    @{string fName = item.filename;}
                    @Html.ActionLink(fName, "Details", new {id= item.Id})
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@ 
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@ 
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
        </tbody>
    </table>
<div>
    <h2>Search</h2>
    <div>
        <div>
            <h4>Search Text:</h4>
            <input type="text" id="txtSearchText" class="form-control" style="width:400px;" />
        </div>
        <div style="padding-top:10px;">
            <h4>Search Categories:</h4>
            <label class="checkbox-inline"><input type="checkbox" id="chkCatMovie" value="">Movies</label>
            <label class="checkbox-inline"><input type="checkbox" id="chkCatTV" value="">TV Shows</label>
            <label class="checkbox-inline"><input type="checkbox" id="chkCatOther" value="">Other</label>
        </div>
        <div style="padding-top:30px;">
            <input type="button" class="btn btn-primary btn-sm" value="Search" onclick="runSearch();" />
            <input type="button" class="btn btn-primary btn-sm" value="Curt Search Test" onclick="curtSearchTest();" />
        </div>
    </div>
    <div style="margin-top:30px;border-top:1px solid black;padding-top:5px;">
        <table id="tblResults" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Title 1 Here</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    $(function () {
        $('#tblResults').dataTable();
    });
    function runSearch() {
        $.ajax({
            url: '/Home/Search/',
            type: 'GET',
            data: {
            },
            success: function (data) {
                alert('success');
                //location.reload(true);
            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });
    };
    function curtSearchTest() {
        $.ajax({
            url: '/Home/CurtSimpleSearch/',
            type: 'GET',
            data: {
            },
            success: function (data) {
                alert('success');
                //location.reload(true);
            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });
    };
</script>
