@{
    ViewData["Title"] = "SiteSettings";
}

<h2>Settings</h2>

<div style="border:1px solid black;border-radius:5px;padding:5px;">
    <div style="padding-bottom:5px;"><h3>Mongo Settings</h3></div>
    <div style="height:35px;">
        <div style="width:150px;float:left;text-align:right;padding-right:5px;margin-top:7px;">MongoDB Path:</div>
        <div style="width:400px;float:left;"><input type="text" class="form-control" id="txtMongoPath" value="@Model.Mongodb_path" /></div>
    </div>
    <div style="height:35px;">
        <div style="width:150px;float:left;text-align:right;padding-right:5px;margin-top:7px;">MongoDB Port:</div>
        <div style="width:400px;float:left;"><input type="text" class="form-control" id="txtMongoPort" style="width:75px;" value="@Model.Mongodb_port"/></div>
    </div>
    <div style="height:35px;">
        <div style="float:right;">
            <button type="button" class="btn btn-primary btn-sm" onclick="runSave();">Save</button>
        </div>
    </div>
</div>

<script>
    $(function () {
    });
    function runSave() {
        $.ajax({
            url: '/Home/SaveSettings/',
            type: 'POST',
            data: {
                mongoPath: $("#txtMongoPath").val(),
                mongoPort: $("#txtMongoPort").val()
            },
            success: function (data) {
                alert('success');
                location.reload(true);
            },
            fail: function (xhr, textStatus, errorThrown) {
                alert('request failed');
            }
        });
    };
</script>